.footer
  %nav
    %ul.clearfix
      %li
        %a{href:"#"}
          プライバシーポリシー
      %li
        %a{href:"#"}
          Fmarket利用規約
      %li
        %a{href:"#"}
          特定商取引に関する表記
  %a{href:"#", class: "footer-logo"}
    =image_tag "logo_gray.svg"
  %p
    %small
      @ 2019 Fmarket