= render 'progress-bar'
.main
  .main__container
    %h2.main__container__head
      会員登録完了
    .main__container__form
      .main__container__list
        .form-groups
          %h2.last-text
            ありがとうございます。
          %h2.last-text
            会員登録が完了しました。
        =link_to root_path, class:"btn-default btn-red" do
          メルカリをはじめる
          
= render '/devise/shared/user_footer'
:css
  li.through .progress-status{
    background:#ea352d;
  }
  li.through .progress-status_bar{
    background:#ea352d;
  }
  li.active .progress-status{
    background:#ea352d;
  }
  li.active .progress-status_bar{
    background:#ea352d;
  }
  li.address .progress-status{
    background:#ea352d;
  }
  li.address .progress-status_bar{
    background:#ea352d;
  }
  li.payment .progress-status{
    background:#ea352d;
  }
  li.payment .progress-status_bar{
    background:#ea352d;
  }
  li.end{
    color:#ea352d;
  }
  li.end .progress-status{
    background:#ea352d;
  }