%section.mypage__itemList
  %h2.mypage__itemList__head 購入した商品
  %ul.mypage__itemList__tabs
    %li
      %h3.mypage__itemList__tabs__menu.active2  取引中
    %li
      %h3.mypage__itemList__tabs__menu  過去の取引
  .mypage__itemList__contents
    %ul.mypage__itemList__contents__list.show2
      %li.mypage__itemList__contents__list__article
        = image_tag 'logo_red.svg',size: "48x48"
        .mypage__itemList__contents__list__article__sample
          .mypage__itemList__contents__list__article__sample__text 取引中商品のサンプルです
          .mypage__itemList__contents__list__article__sample__time
            %i.far.fa-clock
            %span 3時間前
        %i.fas.fa-chevron-right.fa-pull-right
      %li.mypage__itemList__contents__list__link
        =link_to "#" do
          一覧を見る
    %ul.mypage__itemList__contents__list
      %li.mypage__itemList__contents__list__article
        = image_tag 'logo_red.svg',size: "48x48"
        .mypage__itemList__contents__list__article__sample
          .mypage__itemList__contents__list__article__sample__text 購入した商品のサンプルです
          .mypage__itemList__contents__list__article__sample__time
            %i.far.fa-clock
            %span 3時間前
        %i.fas.fa-chevron-right.fa-pull-right
      %li.mypage__itemList__contents__list__link 
        =link_to "#" do
          一覧を見る