%section.mypage__icon
  =link_to "#" do
    %i.fas.fa-user
    %h2.mypage__icon__nickname 
      nickname
  .mypage__icon__history
    .mypage__icon__history__good 評価 58
    .mypage__icon__history__number 出品数 58