.header
  .wrapper
    .container
      .content
        .content__user
          =link_to "#" do
            %figure
              =image_tag "hiyokosan.jpg"
            %h2
              バレバレ
            .content__user__number
              %div
                評価
                %span 0
              %div
                出品数
                %span 0
        .content__mypage
          .content__mypage__tabs
          .content__mypage__messsages
          .content__mypage__tabs2
            .content__mypage__tabs2__head
            .content__mypage__tabs2__list
            .content__mypage__tabs2__messages