.header
  .container
    .content
      .content__user
      .content__mypage
        .content__mypage__tabs
        .content__mypage__messsages
        .content__mypage__tabs2
          .content__mypage__tabs2__head
          .content__mypage__tabs2__list
          .content__mypage__tabs2__messages