.rapper
  .single-container
    .signup_address
      = render '/devise/shared/sign-up'


    .main
      .main__container
        %h2.main__container__head
          電話番号認証
        .main__container__form
          .main__container__list
            .form-groups
              %label(for="capcha")
                認証番号
              %input.input-default2{ placeholder: "認証番号を入力", type: "number", value: ""}
              %p.form-info-text
                SMSで届いた認証番号を入力してください
              %button{type:"submit", class:"btn-default btn-red"}
                認証して完了
        .main__container__form
          .main__container__list
            %h3.chapter-sub-header
              30秒たっても認証番号が届かない方へ
            %p.single-text
              電話で認証番号を聞くこともできます。
            .form-groups
              %button{type:"submit", class:"btn-default btn-red"}
                電話で認証番号を聞く(通話無料)
        .main__container__form
          .main__container__list
            %h3.chapter-sub-header
              認証番号を再送することもできます。もう一度電話番号を入力して下さい。
              %p
                = link_to "#" do
                  電話番号を再度入力する
            .single-text
              ※SMSが届かない場合は
              = link_to "#" do
                SMS受信設定
              を確認して、もう一度電話番号を入力してください。


  = render '/devise/shared/user_footer'