%ul.mypage__itemList__contents__list.show2
  %li.mypage__itemList__contents__list__article
    = image_tag 'logo_red.svg',size: "48x48"
    .mypage__itemList__contents__list__article__sample
      .mypage__itemList__contents__list__article__sample__text 取引中商品のサンプルです
      .mypage__itemList__contents__list__article__sample__status
        評価待ち
    %i.fas.fa-chevron-right.fa-pull-right