.menu
  %ul.menu__feature
    %li.menu__feature__myPage
      マイページ
    %li.menu__feature__notice
      お知らせ
    %li.menu__feature__todo
      やることリスト
    %li.menu__feature__iineList
      いいね！一覧
    %li.menu__feature__trade
      出品する
    %li.menu__feature__tradingListing
      出品した商品・出品中
    %li.menu__feature__tradingInProgress
      出品した商品・取引中
    %li.menu__feature__tradingCompleted
      出品した商品・売却済み
    %li.menu__feature__purchase
      購入した商品・取引中
    %li.menu__feature__purchased
      購入した商品・過去の取引
    %li.menu__feature__news
      ニュース一覧
    %li.menu__feature__grade
      評価一覧
    %li.menu__feature__guide
      ガイド
    %li.menu__feature__support
      お問い合わせ
  %h3.menu__titleReceipt メルペイ
  %ul.menu__receipt
    %li.menu__receipt__sales
      売上・振込申請
    %li.menu__receipt__point
      ポイント
  %h3.menu__titleSetting 設定
  %ul.menu__setting
    %li.menu__setting__profile
      プロフィール
    %li.menu__setting__deliverAddress
      発送元・お届け先住所変更
    %li.menu__setting__card
      支払い方法
    %li.menu__setting__emailPassword
      メール・パスワード
    %li.menu__setting__identification
      本人情報
    %li.menu__setting__smsConfirmation
      電話番号の確認
    %li.menu__setting__logout
      ログアウト