.menu
  %ul.menu__feature
    %li.menu__feature__myPage
      =link_to mypages_path do
        マイページ
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__notice
      =link_to "#" do
        お知らせ
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__todo
      =link_to "#" do
        やることリスト
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__iineList
      =link_to "#" do
        いいね！一覧
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__trade
      =link_to items_new_path do
        出品する
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__tradingListing
      =link_to selling_item_list_mypages_path do
        出品した商品・出品中
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__tradingInProgress
      =link_to selling_item_list_mypages_path do
        出品した商品・取引中
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__tradingCompleted
      =link_to selling_item_list_mypages_path do
        出品した商品・売却済み
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__purchase
      =link_to purchase_list_mypages_path do
        購入した商品・取引中
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__purchased
      =link_to purchase_list_mypages_path do
        購入した商品・過去の取引
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__news
      =link_to "#" do
        ニュース一覧
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__grade
      =link_to "#" do
        評価一覧
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__guide
      =link_to "https://www.mercari.com/jp/help_center/" do
        ガイド
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__feature__support
      =link_to "#" do
        お問い合わせ
        %i.fas.fa-chevron-right.fa-pull-right
  %h3.menu__titleReceipt メルペイ
  %ul.menu__receipt
    %li.menu__receipt__sales
      =link_to "#" do
        売上・振込申請
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__receipt__point
      =link_to "#" do
        ポイント
        %i.fas.fa-chevron-right.fa-pull-right
  %h3.menu__titleSetting 設定
  %ul.menu__setting
    %li.menu__setting__profile
      =link_to profile_mypage_path(current_user.id) do
        プロフィール
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__deliverAddress
      =link_to shipping_addresses_path do
        発送元・お届け先住所変更
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__card
      =link_to payments_path do
        支払い方法
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__emailPassword
      =link_to "#" do
        メール・パスワード
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__identification
      =link_to address_mypage_path(current_user.id) do
        本人情報
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__smsConfirmation
      =link_to "#" do
        電話番号の確認
        %i.fas.fa-chevron-right.fa-pull-right
    %li.menu__setting__logout
      =link_to logouts_path do
        ログアウト
        %i.fas.fa-chevron-right.fa-pull-right