%section.mypage__itemList
  %h2.mypage__itemList__head 
    = title
  %ul.mypage__itemList__tabs
    %li
      %h3.mypage__itemList__tabs__menu.active2  
        = menu1
    %li
      %h3.mypage__itemList__tabs__menu  
        = menu2
  .mypage__itemList__contents
    