%li.mypage__itemList__contents__list__article
  = image_tag 'logo_red.svg',size: "48x48"
  .mypage__itemList__contents__list__article__sample
    .mypage__itemList__contents__list__article__sample__text
      = trade.item.name
    .mypage__itemList__contents__list__article__sample__status
      取引完了
  %i.fas.fa-chevron-right.fa-pull-right