.rapper
  .single-container
    .signup_address
      = render '/devise/shared/sign-up'

    .main
      .main__container
        %h2.main__container__head
          電話番号の確認
        .main__container__form
          .main__container__list
            .form-groups
              %label(for="tel")
                携帯電話の番号
              %input.input-default2{ placeholder: "携帯電話の番号を入力", type: "tel", value: ""}
              %p.form-info-text
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              %button{type:"submit", class:"btn-default btn-red"}
                SMSを送信する
              %p.form-info-text
                ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーには公開されることはありません。
              .form-groups.text-right
                %p
                =link_to "#" do
                  電話番号に確認が必要な理由 >



  = render '/devise/shared/user_footer'