%section.item-box
  %h1.item-box__title 詩島様専用☆ディズニーシーバック
  %p.item-box__wording
    『詩島様専用☆ディズニーシーバック』は、269回の取引実績を持つ
    = link_to "https://18.176.249.67/", class: "item-box__wording-link" do
      ししまる
    さんから出品されました。
    = link_to "https://18.176.249.67/", class: "item-box__wording-link" do 
      キャラクターグッズ/おもちゃ・ホビー・グッズ
    の商品で、未定から2~3日で発送されます。