.message-container
  .message-content
    %ul.message-content__items
      %li.message-content__items__clearfix
        = link_to "https://www.mercari.com/", class: "message-content__items__clearfix__user" do
          %figure
            %div
              = image_tag 'neko2.jpg', alt: '', height: '40px', width: '40px', class: 'figure1'
            %figcaption.bold
              詩島
        .message-content__items__clearfix__body
          .message-content__items__clearfix__body__text
            はじめまして！
            %br/
            欲しいです！！
          .message-icons.clearfix
            %time.message-icon-left
              %i.far.fa-clock
              %span 4 日前
            .message-icon-right
              %form{:action => "https://www.mercari.com/", :method => "POST"}
                %button{:type => "submit"}
                  %i.far.fa-flag
              %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %i.icon-balloon
      %li.message-content__items__clearfix
        = link_to "https://www.mercari.com/", class: "message-content__items__clearfix__user" do
          %figure
            %div
              = image_tag 'neko1.jpg', alt: '', height: '40px', width: '40px', class: 'figure1'
          %figcaption.bold
            ししまる
          .message-is-seller 出品者
        .message-content__items__clearfix__body
          .message-content__items__clearfix__body__text
            詩島様
            %br/
            %br/
            ありがとうございます!!
          .message-icons.clearfix
            %time.message-icon-left
              %i.far.fa-clock
              %span 4 日前
            .message-icon-right
              %form{:action => "https://www.mercari.com/", :method => "POST"}
                %button{:type => "submit"}
                  %i.far.fa-flag
                %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
          %i.icon-balloon


    .message-writing
      %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
        %textarea.textarea-default{:disabled => "disabled", :name => "body", :type => "text", :value => ""}
        %button.message-submit.btn-default.btn-red{:disabled => "disabled", :type => "submit"}
          %span コメントする



%ul.nav-item-link-prev-next.clearfix
  %li.nav-item-link-prev
    %a{:href => "https://item.mercari.com/"}
      %i.icon-arrow-left>
      < ANNA SUI  ポーチ新品未使用値下げ
  %li.nav-item-link-next
    %a{:href => "https://item.mercari.com/"}
      フランス人は10着しか服を持たない >
      %i.icon-arrow-right