.item-detail
  .item-detail__images
    %ul
      .slider#detail
        - @item.images.each do |i|
          %li
            = image_tag i.image.url, class: 'item__slider-images'
    .item-sold-out-badge
