
    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            %a{:href => "https://www.mercari.com/"} ししまる
            %div
              .item-user-ratings
                %i.icon-good
                %span 270
              .item-user-ratings
                %i.icon-normal
                %span 4
              .item-user-ratings
                %i.icon-bad
                %span 1
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/"}
              %div おもちゃ・ホビー・グッズ
            %a{:href => "https://www.mercari.com/"}
              .item-detail-table-sub-category
                %i.icon-arrow-right
                おもちゃ
            %a{:href => "https://www.mercari.com/"}
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                キャラクターグッズ
        %tr
          %th ブランド
          %td
        %tr
          %th 商品の状態
          %td 新品、未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td 未定
        %tr
          %th 発送日の目安
          %td 2~3日で発送
