.single-container
  .main
    .main__container
      %h2.main__container__head
        商品の情報を入力
      .sell-form
        .sell-form__upload
          %h3.item__upload__head
            出品画像
            %span.form-require
              必須
            %p
              最大10枚までアップロードできます
