.single-container
  .main
    .main__container
      %h2.main__container__head
        商品の情報を入力
      .sell-form
        .sell-form__content
          %h3.item-upload-head
            出品画像
            %span.form-require
              必須
            %p
              最大10枚までアップロードできます
          .dropbox-container
            .dropbox-text-container
              %pre.dropbox-text
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
      .sell-form
        .form-groups.product-box
          %label(for="productname")
            商品名
          %span.form-require
            必須
          %input.input-default2{ placeholder: "商品名（必須 40文字まで）", type: "text", value:""}
        .form-groups.product-box
          %label(for="description")
            商品の説明
          %span.form-require
            必須
          %textarea.textarea-default{ placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など） 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", type: "text", value:""}
      .sell-form
        .sell-form__content
          %h3.sell-sub-head
            商品の詳細
          .sell-form-box
            .form-groups.select-box
              %label(for="categories")
                カテゴリー
              %span.form-require
                必須
              %select{name: "categories", class: "select-default select-product"}
                %option(label="--")
                %option(label="レディース")
                %option(label="メンズ")
                %option(label="ベビー・キッズ")
                %option(label="インテリア・住まい・小物")
                %option(label="本・音楽・ゲーム")
            .form-groups.select-box
              %label(for="status")
                商品の状態
              %span.form-require
                必須
              %select{name: "status", class: "select-default select-product"}
                %option(label="--")
                %option(label="新品、未使用")
                %option(label="未使用に近い")
                %option(label="目立った傷や汚れなし")
                %option(label="やや傷や汚れあり")
                %option(label="全体的に状態が悪い")
