.item-sns-box
  %ul.item-sns-box__list
    %li.item-sns-box__content
      %i.fab.fa-facebook-square.fa-x4
    %li.item-sns-box__content
      %i.fab.fa-twitter-square.fa-x4
    %li.item-sns-box__content
      %i.fab.fa-pinterest-square.fa-x4
