.AppBanner
  .AppBanner__container
    .AppBanner__container__left
      .AppBanner__container__left__firsttext
        スマホでかんたんフリマアプリ
      .AppBanner__container__left__secondtext
        今すぐ無料ダウンロード！
      .AppBanner__container__left__icon
        .AppBanner__container__left__freemarket
        .AppBanner__container__left__ios
        .AppBanner__container__left__android
    .AppBanner__container__right
