.item-detail__images{
  width:300px;
  min-height:375px;
  position:relative;
  margin:0 auto;
  background:#fafafa;
  padding:0;
}
.item__slider-images{
  width:auto;
  min-height:300px;
  max-height:300px;
  margin:0 auto;
}