.item-box{
  padding: 24px 40px 40px;

  &__title{
		font-size: 24px;
		font-weight: bolder;
  	text-align: center;
	  word-wrap: break-word;
		line-height: 1.4;
  }

  &__wording{
	  margin: 8px 0 0;
	  font-size: 14px;
  	color: #888;
		line-height: 1.5;
	}
	
	&__wording-link{
		color: currentColor;
	}
}