.item-detail {

  .item-detail__images{
    width:300px;
    min-height:375px;
    position:relative;
    margin:0 auto;
    background:#fafafa;
    padding:0;
    & ul.slider{
      position: relative;
    }
  }
}
.item__slider-images{
  width:auto;
  min-height:300px;
  max-height:300px;
  margin:0 auto;
}
.slick-dots{
  display: flex;
  flex-wrap:wrap;
  position:absolute;
  top:300px;

  & li{
    width:60px;
    height:60px;
    margin:0;
    & img{
      width:60px;
      height:60px;
    }
  }
}