.header {
  height: 128px;
  line-height: 128px;

  &__logo {
    height: 49px;
    width: 189px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 43px 0;
    line-height: 128px;
  }
}