.item-header__wrapper{
  width:100vw;
  height:100px;
  z-index:3;
  font-size:14px;
  background-color: $app-white;
  box-shadow:$app-box-shadow;
}
.item-header__inner{
  width:1020px;
  height:100%;
  margin:0 auto;
  padding:8px 0 0;
}
.item-header__upper{
  vertical-align: baseline;
  height:40px;
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-between;
  &__logo{
    width:134px;
    margin-right: 45px;
  }
  &__search-form{
    position: relative;
    width:100%;
    display:flex;
    &__text{
      font-size: 16px;
      background-color: #f5f5f5;
      padding: 0 50px 0 10px;
      width: 100%;
      height:100%;
      position: relative;
      line-height: 1.4em;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
    }
    &__btn{
      position: absolute;
      top:0;
      right:0;
      width:40px;
      text-align: center;
      line-height: 40px;
    }
  }
}
.fa-search{
  color:$app-black;
}

.item-header__bottom{
  display:flex;
  justify-content: space-between;
  margin-top:8px;
  vertical-align: baseline;
  &__search{
    display:flex;
    margin-left:-3px;
    &__brand{
      display:flex;
      padding:0 10px 0;
      cursor:pointer;
      height:44px;
      position: relative;
      z-index:3;
    }
  }
}
.item-header__category{
  padding:0 10px 0;
  cursor:pointer;
  height:44px;
  position: relative;
  vertical-align: baseline;
  z-index:3;
  line-height: 36px;
  &__title a{
    color:$app-black;
  }
  &__major{
    display:none;
    position: absolute;
    top:44px;
    background-color: $app-white;
    width:224px;
    z-index:1;
    &__list{
      box-shadow:$app-box-shadow;
    }
  }
  &__medium{
    display:none;
    position: absolute;
    top:0;
    left:224px;
    background-color: $app-white;
    box-shadow:$app-box-shadow;
    width:224px;
    color:$app-black;
  }
  &__small{
    display:none;
    position: absolute;
    top:0;
    bottom:0;
    left:224px;
    background-color:$app-white;
    box-shadow:$app-box-shadow;
    width:320px;
    color:$app-black;
  }
}
.item-header__brand{
  display:flex;
  padding:0 10px 0;
  cursor:pointer;
  height:44px;
  position: relative;
  z-index:3;
  line-height: 36px;
  &__title a{
    color:$app-black;
  }
  &__list{
    display: none;
    position: absolute;
    top:44px;
    background-color:$app-white;
    width:224px;
    z-index:1;
    &__topic{
      box-shadow:$app-box-shadow;
    }
  }
}
.item-header__members{
  display:flex;
  text-align: center;
}
.item-header__signup{
  background-color:$app-red;
  color:$app-white;
  border-radius: 4px;
  font-size:14px;
  border-width:1px;
  border-style:solid;
  border-color: $app-red;
  padding:8px 10px;
}
.item-header__signin{
  background-color: $app-white;
  color:$app-blue;
  font-size:14px;
  border-style: solid;
  border-color: $app-blue;
  border-width:1pt;
  border-radius: 4px;
  margin-left: 11px;
  a:visited{
    text-decoration: none;
    color:$app-blue;
  }
  padding:8px 10px;
}
.item-header__login__list{
  display:flex;
  text-align: center;
}

.item-header__iine{
  display: flex;
  align-items: center;
  font-size:14px;
  &__title{
    height:44px;
    padding:0 14px;
    line-height: 44px;
    & a{
      color:$app-black;
      height:32px;
    }
  }

}
.item-header__info{
  display: flex;
  position: relative;
  align-items: center;
  font-size:14px;
  z-index:3;
  &__title{
    height:44px;
    padding:0 14px;
    line-height: 44px;
    & a{
      height:32px;
      color:$app-black;
    }
  }
  &__list{
    background-color: $app-white;
    box-shadow: $app-box-shadow;
    display:none;
    position: absolute;
    left:50%;
    transform:translate(-50%,0);
    top:44px;
    width:320px;
    z-index: 3;
  }
  &__element{
    display:flex;
    min-height:80px;
    padding:16px;
    &__logo{
      height:48px;
      width:48px;
    }
  }
}
.item-header__todo{
  display: flex;
  align-items: center;
  font-size:14px;
  position: relative;
  &__title{
    height:44px;
    padding:0 14px;
    line-height: 44px;
    & a{
      height:32px;
      color:$app-black;
    }
  }
  &__list{
    left:50%;
    transform:translate(-50%,0);
    background-color: $app-white;
    box-shadow: $app-box-shadow;
    display:none;
    position: absolute;
    top:44px;
    width:320px;
    z-index:3;
    &__empty{
      background-image: url(logo_gray.svg);
      background-size: 78px 85px;
      color:$app-grey;
      font-size: 16px;
      font-weight:600;
      text-align: center;
      background-position: center 40px;
      background-repeat: no-repeat;
      padding: 160px 0 60px;
    }
  }
}
.item-header__mypage{
  display: flex;
  align-items: center;
  font-size:14px;
  position: relative;
  &__title{
    height:44px;
    padding:0 14px;
    line-height: 44px;
    & a{
      color:$app-black;
      height:32px;
    }
  }
  &__list{
    right:0;
    background-color: $app-white;
    box-shadow: $app-box-shadow;
    display:none;
    position: absolute;
    top:44px;
    width:320px;
    z-index:3;
  }
}
.fa-list-ul{
  color:$app-red;
}
.fa-tag{
  color:$app-red;
}
.fa-heart{
  color:$app-grey;
}
.fa-bell{
  color:$app-grey;
}
.fa-check{
  color:$app-grey;
}
.fa-user-circle{
  color:$app-grey;
}
.icon-batch{
  background-color: $app-red;
  color:$app-white;
  font-size:10px;
  height:20px;
  left:18px;
  line-height:20px;
  position:absolute;
  text-align: center;
  top:-2px;
  width:20px;
  border-radius: 50%;
}