.sell-form{
  border-top:1px solid #eee;
  height: 100%;
  width: 100%;
  &__content{
    padding:40px;
    width: 100%;
    height: 100%;
  }
}

.item-upload-head {
  font-weight: 500;
}

.dropbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin-top: 16px;

  .dropbox-text-container {
    padding: 40px;
    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    width:100%;
  }
  .dropbox-text-container2 {
    display: none;
    padding: 40px;
    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
  }
  .dropbox-text {
    position: absolute;
    top: 35%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
  }

}

.form-groups.product-box {
  margin: 30px auto;
  width: 620px;
}

.textarea-default {
  margin: 8px 0 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;

  .question  {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
}

.sell-form-box {
  width: 400px;
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  font-size: 14px;
}

.clearfix {
  font-size: 16px;
}
.form-groups.select-box {
  font-size: 16px;
}

.l-left {
  float: left;
}

.form-groups label {
  font-weight: 600;
}

.l-right.sell-price-input {
  text-align: right;
  line-height: 58px;
  width: 80%;
}

.bold {
  font-weight: 600;
}

.l-left {
  float: left;
  font-size: 16px;
}

.l-right {
  float: right;
  font-size: 16px;
}

.sell-price li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
  display: list-item;
  list-style-type: none;
  text-transform: uppercase;
}

.l-right.bold {
  font-size: 30px;
}

.sell-price li:first-child {
  padding: 0 0 24px;
  border: 0;
}

.price-input {
  width: 20%;
  line-height: 58px;
  text-align: left;
  margin: 0;
}

.sell-form__content a {
  color: #0099e8;
  text-decoration: none;
}

.btn-default.btn-red.shipping-wide {
  width: 100%;
}

.btn-default.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  margin: 24px auto 0;
}
.input_area{
  height:100%;
}
.img_view img{
  width:124px;
  min-height:162px;
}
.btn_wrapper{
  display:flex;
  justify-content: center;
  color: $app-blue;
  .btn{
    padding:10px;
  }
}
#thumnail{
  display:flex;
}
#thumnail2{
  display:flex;
  flex-wrap: wrap;
}
.upload-image{
  display:none;
}

.modal{
  position: fixed;
  top: 0;
  right:0 ;
  bottom:0 ;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transform: tlanslate(0,0);
  display: block;
}

.modal-head{
  text-align: center;
  line-height: 80;
  font-size: 16px;
}

.modal-body{
  border-top: 1px solid #eee;
  padding: 40;
}