// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  width: 700px;
  height: 568px;
  &__container {
    &__head {
      width: 652px;
      height: 33px;
      font-size: 24px;
      text-align: center;
      padding: 8px 24px;
      background-color: white;
    }
    &__name {
      width: 668px;
      height: 60px;
      padding: 72px 16px 24px;
      margin: 0 auto;
      background-color: yellow;
      display: flex;
      justify-content: center;
      &__input {
        width: 186px;
        height: 28px;
        padding: 10px 16px 8px;
        border: 1px;
        margin-left: 8px;
      }
    }
    &__description {
      width: 668px;
      height: 282px;
      padding: 40px 16px;
      background-color: green;
      &__input {
        width: 646px;
        height: 194px;
        padding: 10px;
        border: 1px;
      }
      &__btn {
        width: 666px;
        height: 48px;
        border: 1px;
        margin-top: 16px;
        font-size: 14px;
        color: #fff;
        background-color: #ea352d;
      }
    }
  }
}
