// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  width: 700px;
  height: 568px;
  &__container {
    &__head {
      width: 652px;
      height: 33px;
      font-size: 24px;
      text-align: center;
      padding: 8px 24px;
      background-color: white;
    }
    &__name {
      width: 652px;
      height: 156px;
      padding: 8px 24px;
      background-color: yellow;
    }
    &__description {
      width: 652px;
      height: 362px;
      padding: 8px 24px;
      background-color: green;
    }
    &__submit {
      width: 652px;
      height: 33px;
      padding: 8px 24px;
      background-color: blue;
    }
  }
}
