.profile {
  background-color: #fff;
  display: flex;
  justify-content: center;
  &__rating {
    height: 50px;
    padding-top: 14px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    &__good {
      width: 100px;
      padding-right: 30px;
      line-height: 26px;
      font-size: 24px;
      color: #ef5185;
      &__count {
        width: 60px;
        margin: 0 0 0 14px;
        text-align: center;
        vertical-align: middle;
      }
    }
    &__normal {
      width: 100px;
      padding-right: 30px;
      line-height: 26px;
      font-size: 24px;
      color: #fba933;
      &__count {
        width: 60px;
        margin: 0 0 0 14px;
        vertical-align: middle;
      }
    }
    &__bad {
      width: 100px;
      line-height: 26px;
      font-size: 24px;
      color: #6ab5d8;
      &__count {
        width: 60px;
        margin: 0 0 0 14px;
        vertical-align: middle;
      }
    }
  }
}

.socialMedia {
  margin: 0 auto;
  padding: 56px 0 48px;
  width: 700px;
  background-color: #fff;
  &__list {
    margin: 16px 0 0;
    display: flex;
    justify-content: center;
    &-facebook {
      .fab.fa-facebook-square.fa-stack-1x.fa-inverse {
        font-size: 40px;
      }
    }
    &-twitter {
    }
    &-line {
    }
  }
}
