.wrapper {
  background-color: #EEEEEE;

  .header {
    height: 128px;
    line-height: 128px;

    &__logo {
      height: 49px;
      width: 189px;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 43px 0;
      line-height: 128px;
    }
  }
  .contents {
    width: 700px;
    margin: 0 auto;
    background-color: white;

    &__container {
      padding: 32px;
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
    }
      &__title {
        color: #333333;
        font-size: 22px;
        font-weight: bold;
        border-bottom:10px solid #9999;
      }
      &__main {
        padding: 40px 40px 64px;
        display: block;
        text-align: center;
        margin: 0 auto;


    }

  }
  .footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }
}

.btn-default {
  display: block;
  width: 343px;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.link-mail {
  background-color: #ea352d;
  color: white;
  margin: auto;
}

.link-fb {
  margin: 16px auto;
  background: #385185;
  color: #fff;
}

.link-gg {
  margin: 16px auto;
  background: #fff
}