.mypage {
  width: 700px;
  background-color: #eee;
  &__icon {
    @include icon(660, 160);
  }
  &__notification {
    &__tabs {
      @include notificationTab;
    }
    &__contents {
      @include notificaitonContents;
    }
  }
  &__itemList {
    margin-top: 40px;
    &__head {
      width: 668px;
      line-height: 72px;
      font-weight: bold;
      padding: 0 16px;
      background-color: white;
    }
    &__tabs {
      @include itemListTab;
    }
    &__contents {
      @include itemListContents;
    }
  }
}
