= render partial: "./shared/item-header"
.logtou
  = render partial: "./mypages/side_menu"
  %h1.logout__wrapper
    ログアウト
= render partial: "./items/appbanner"
= render partial: "./shared/item-footer"